name: VPNC client add-on
version: "0.3.0"
slug: vpnc_client
description: VPNC client add-on
init: false
arch:
- amd64
- aarch64
- i386
- armv7
- armhf
host_network: true
privileged:
- NET_ADMIN
devices:
- /dev/net/tun
options:
  debug: 0
  vpn_server:
    gateway:
    ID:
    secret:
    username:
    password:
  vpn_routes: []
  ping:
    server:
    wait: 60
schema:
  debug: int
  vpn_server:
    gateway: str
    ID: str
    secret: password
    username: str
    password: password
  vpn_routes:
  - str
  ping:
    server: str
    wait: int
